<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title></title>
</head>
<body>
<form th:fragment="out" th:action="@{/logout}">
  <input type="submit" value="logout">
</form>

<form th:method="PATCH" th:action="@{/admin/user/{id}(id=${user.getId()})}" th:object="${user}">
  <input type="hidden" th:field="*{username}" id="username"/>
  <br/>
  <input type="hidden" th:field="*{password}" id="password"/>
  <br/>
  <label for="name">Name: </label>
  <input type="text" th:field="*{name}" id="name"/>
  <br/>
  <label for="lastName">Last name: </label>
  <input type="text" th:field="*{lastName}" id="lastName"/>
  <br/>
  <label for="age">Age: </label>
  <input type="text" th:field="*{age}" id="age"/>
  <br/>
  <input type="submit" value="Update"/>
</form>
</body>
</html>